.bgc {
    background: black;
}

#content #loginPane-1{
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 100%;
    padding: 3% 3% 3% 3%;
}

#content .inputButtonGroup{
    margin-top: 50px;
    
}

